default:
  image: maven:3-openjdk-11

stages:
  - .pre
  - build
  - test
  - analyze
  - deploy
  - .post

variables:
  REPO_DIR: $CI_PROJECT_DIR/.repo
  MVN_USR_HOME: /root/.m2
  MVN_TEST_OPTS: -B -fae -s $CI_PROJECT_DIR/.m2/settings.xml -Dmaven.repo.local=$CI_PROJECT_DIR/.repo -P!build-signature -DskipTests=false -DskipITs=false -Dmaven.test.failure.ignore=true
  MVN_CLI_OPTS: -B -fae -s $CI_PROJECT_DIR/.m2/settings.xml -Dmaven.repo.local=$CI_PROJECT_DIR/.repo -P!build-signature -DskipTests -DskipITs

cache:
  key: $CI_PROJECT_PATH_SLUG
  paths:
    - $REPO_DIR
    - target

.show_env: &show_env
  - echo "show_env"
  - printenv | sort

.show_build: &show_build
  - echo "show_build"
  - find $CI_BUILDS_DIR -type d ! -regex ".+\.repo.*" -regex ".+\.git.*" -print

.show_repo: &show_repo
  - echo "show_repo"
  - du --max-depth=1 -h $REPO_DIR

.prep_repo: &prep_repo
  - echo "creating $REPO_DIR"
  - mkdir -p $REPO_DIR

.prep_sec: &prep_sec
  - mkdir -p $MVN_USR_HOME
  - cp .m2/settings.xml $MVN_USR_HOME

build:
  stage: build
  tags:
    - docker
  before_script:
    - *show_env
    - *prep_repo
  script:
    - mvn $MVN_TEST_OPTS clean verify
    - mvn $MVN_CLI_OPTS deploy
  after_script:
    - *show_build
