name: maven-build

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - develop
    paths-ignore:
      # - '.github/**'
      - '.run/**'
      - '.m2/**'
      - '.repo/**'

env:
  # Github Additional Configuration
  GITHUB_REPO_NAME: ${{ github.event.repository.name }}
  GITHUB_ACTOR: ${{ github.actor }}
  GITHUB_PROJECT_DIR: ${{ github.workspace }}
  GITHUB_BRANCH_NAME: ${{ github.ref_name }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  GITHUB_UPLOAD_DIR: ${{ github.workspace }}/target/staging
  GITHUB_UPLOAD_NAME: ${GITHUB_REPO_NAME}.zip
  PCK_READ_TOKEN: ${{ secrets.PCK_READ_TOKEN }}
  PCK_WRITE_TOKEN: ${{ secrets.PCK_WRITE_TOKEN }}

  # Maven Common Configuration
  MVN_HOME_DIR: ~/.m2

  # Sonarcloud Configuration
  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  # Codacy Configuration
  CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}
  CODACY_API_TOKEN: ${{ secrets.CODACY_API_TOKEN }}

  # Coveralls Configuration
  COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}


jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
        version: [11]
        distribution: [adopt]
    runs-on: ${{ matrix.os }}

    steps:
      - name: checkout
        uses: actions/checkout@v3.0.2
        with:
          fetch-depth: 0

      - name: setup JDK
        uses: actions/setup-java@v3.5.0
        with:
          java-version: '${{ matrix.version }}'
          distribution: '${{ matrix.distribution }}'
          architecture: x64

      - name: cache maven packages
        uses: actions/cache@v3.0.8
        with:
          path: ${{ env.MVN_HOME_DIR }}
          key: ${{ matrix.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ matrix.os }}-m2

      - name: maven build
        run: bash ${{ env.GITHUB_PROJECT_DIR}}/.mvn/.build.sh -do

      - name: upload artifact
        uses: actions/upload-artifact@v3.1.0
        with:
          name: ${{ env.GITHUB_UPLOAD_NAME }}
          path: ${{ env.GITHUB_UPLOAD_DIR }}
          if-no-files-found: warn
          retention-days: 14
